<h1>Welcome to TwitterWhack!</h1>
<form action="/submit" method="POST">
	<input type="text" name="word_1" value="word1" />
	<input type="text" name="word_2" value="word2" />
	<input type="submit" value="Submit" />
</form>
