<h1>Result</h1>
<ul>
	<%= "Your words (#{@word_1} and #{@word_2}) gave an index of #{@index} with a score of #{@score}. #{@review}"%>
</ul>

<h2>Sample Twitter:</h2>
<ul>
	<%= @sample%>

</ul>
<a href="/">Back to Home</a>
